.profile_data-card {
    margin: 10px auto 10px 10px;
    width: 500px;
    border-style: solid;
    border-width: 2px;
    border-color: #d8e3e7;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0;
}
.logo_timestamp_username-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.timestamp_username-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.username-para{
    margin-top: 0;
    margin-bottom: 0;
}
.timestamp-para{
    margin-top: 0;
    margin-bottom: 0; 
}
.profile_data-image{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.profile_data-card-container {
    display: flex;
    flex-direction: row;
}