.edit-icon-avatar{
    color: pink;
    background-color: pink;
}
.imagesClass{
    width: 250px;
    height: 250px;
    object-fit: contain;
}
.images-outermost-div{
    width: 730px;
    margin: 30px auto 0px auto;
}
.image-details-profile-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.image-details-right-div{
    padding-left: 20px;
}
.user-profile_image_name-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.dispNone {
    display: none;
}
.dispRed {
    display: block;
}